@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: crimson;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: #ffff;
  width: 90%;
  padding: 10px;
  max-width: 500px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}
.container h1 {
  padding: 5px 30px;
  border-radius: 10px;
  background-color: lightcyan;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.options-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.option {
  border: 2px solid rgba(0, 0, 0, 0.34);
  border-radius: 10px;
  height: 120px;
  width: 120px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.option:hover,
.option.active {
  border: none;
  background-color: #c0ff72;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
}
img {
  height: 70px;
}
img:hover,
.grayscale {
  filter: grayscale(100%);
}
.btn {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: darkcyan;
  color: white;
  font-size: medium;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: scale(0.92);
}
small {
  margin-top: 5px;
}
